
<div class="jumbotron text-white text-center">
    <div class="container">
       <h1 class="display-4">Welcome to Fluffytales!</h1>
       <p class="lead-1">We only sell and listed products that are all natural for any skin types or concerns for your fur baby.</p>
        <hr class="my-4">
         <p class="lead"> 
          <%= link_to "Add Product",  new_product_path, class:"btn btn-primary btn-lg"%>
         </p>
       </p>
     </div>
      
       <%= image_tag "main", class: "home-image"%>
      </div>
   
    </div>
</div>